[Desktop Entry]
Name=Dosty Speak
Comment=Cross-platform phrase based text-to-speech app
Exec=dosty-speak
Icon=dosty-speak
Terminal=false
Type=Application
Categories=Utility;Accessibility;
